<h3><%= t(:new_personalisation_option) %></h3>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @personalisation_option } %>

<%= form_for [:admin, @product, @personalisation_option] do |f| %>
  <fieldset data-hook="admin_personalisation_option_new_form">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%#= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
  <p class="form-buttons" data-hook="buttons">
    <%= button t(:create) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_product_personalisation_options_url(@product), :id => 'cancel_link' %>
  </p>
<% end %>
